body {
        
    background-color: #1aaddd;
    position: relative;
    min-height: 100vh;
    margin: 0;
    cursor: url('../Images/snowflake2.png'), auto;
    }

.frost {
    background: rgba(255, 255, 255, 0.3);
    position: fixed;
    inset: 0;
    pointer-events: none;
    z-index: 1000;
}

.snowflakes {
    position: relative;
    left: 600px;
    bottom: 10px
}

.ac {
    position: relative;
    left: 500px;
    bottom: 250px;
}

.iceice {
position: relative;
left: -600px;
bottom: 10px;
width: 300px;
height: 300px;

}