body {
        
    background-color: #ADD8E6;
    position: relative;
    min-height: 100vh;
    margin: 0;
    }

.frost {
    background: rgba(255, 255, 255, 0.22);
}

.snowflakes {
    margin-left: 600px;
    margin-bottom: 550px
}

.ac {
    margin-left: -500px;
    margin-bottom: 550px;
}