html, body {
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: darkolivegreen;
}
img {
    padding: 0;
    display: block;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
}
#header {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 48px;
    margin-top: 20px;
    color: white
}
#tip {
    text-align: center;
    font-family: 'Arial', sans-serif;
    font-size: 15px;
    right: 50%;
    color: lightblue;
    font-style: italic;
    position: absolute;
    transform: rotate(-25deg);
}
#pop-up {
    text-align: left;
    font-family: 'Arial', sans-serif;
    font-size: 20px;
    margin-top: 20px;
    padding-left: 10%;
    position: relative;
    color: white;
}
#intro_img {
    margin: 0 auto;
    margin-top: 20px;
    max-height: 100%;
    max-width: 100%;
    padding-left: 50%;
}
#aligned-straight {
    display: flex;
    align-items: center;
}
#back_arrow {
    padding: 0;
    position: fixed;
    left: 10%;
    bottom: 10%;
    margin: 0 auto;
}