html, body{

background-color: rgb(37, 206, 249);
overflow: auto;
overflow-y: hidden;  
overflow-x: hidden;  



}

#sin{

position: absolute;
top: 50px;
left: 0px;



}

#grass{
    

/* 
background-image: url("../Images/grass.png");
white-space: nowrap;

width: 50000px;
height: 201px;
left: 1px; 
bottom: 1px;
position: fixed;
align-items: center; */

 



 

}